﻿@model MvcAppCRM.Models.Customer
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "MCustomer", FormMethod.Post))
{ 


        <table>

            <tr>
                <td>@Html.Label("Name")</td>
                <td>@Html.TextBoxFor(m=>m.Name)</td>
            </tr>

            <tr>
                <td>@Html.Label("Adress")</td>
                <td>@Html.TextBoxFor(m=>m.Address)</td>
            </tr>

            <tr>
                <td>@Html.Label("Deleted")</td>
                <td>@Html.TextBoxFor(m=>m.Deleted)</td>
            </tr>

            <tr>
                <td>@Html.Label("Created")</td>
                <td>@Html.TextBoxFor(m=>m.Created)</td>
            </tr>


            <tr>
                <td>@Html.Label("CreatedBy")</td>
                <td>@Html.TextBoxFor(m=>m.CreatedBy)</td>
            </tr>

            <tr>
                <td>@Html.Label("Modified")</td>
                <td>@Html.TextBoxFor(m=>m.Modified)</td>
            </tr>

            <tr>
                <td>@Html.Label("ModifiedBy")</td>
                <td>@Html.TextBoxFor(m=>m.ModifiedBy)</td>
            </tr>

            


            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>

        </table>


}