﻿@model MvcAppCRM.Models.Customer
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

 <h3>Are you sure you want to delete this?</h3>

<fieldset>
 <div class="display-label">

                     @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
 
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Address)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Address)
                </div>
 
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Deleted)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Deleted)
                </div>
 
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Created)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Created)
                </div>

                       <div class="display-label">
                     @Html.DisplayNameFor(model => model.CreatedBy)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
                      <div class="display-label">
                     @Html.DisplayNameFor(model => model.Modified)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Modified)
                </div>
                       <div class="display-label">
                     @Html.DisplayNameFor(model => model.ModifiedBy)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </div>

            </fieldset>
            @using (Html.BeginForm("Delete", "MCustomer",FormMethod.Post))
            {
                <p>
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" /> |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            }