﻿@model MvcAppCRM.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "MCustomer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 

<table>

            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>@Html.TextBoxFor(model => model.Name)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Address)</td>
                <td>@Html.TextBoxFor(model => model.Address)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Deleted)</td>
                <td>@Html.TextBoxFor(model => model.Deleted)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Created)</td>
                <td>@Html.TextBoxFor(model => model.Created)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.CreatedBy)</td>
                <td>@Html.TextBoxFor(m => m.CreatedBy)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Modified)</td>
                <td>@Html.TextBoxFor(model => model.Modified)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.ModifiedBy)</td>
                <td>@Html.TextBoxFor(model => model.ModifiedBy)</td>
            </tr>

            


            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>

        </table>
}