﻿@*@model IEnumerable<MvcAppCRM.Models.Customer>*@

@model PagedList.IPagedList<MvcAppCRM.Models.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<p>@Html.ActionLink("Add New Customer","Create")</p>

<table>

    <tr>

        <th>Id </th>  
        <th> Name </th>  
        <th>Address </th>  
        <th>Deleted</th>  
        <th>Created</th>  
        <th>CreatedBy</th>  
        <th>Modified</th>
        <th>ModifiedBy</th>
    </tr>

    @foreach (var item in Model)

    {
    
    <tr>

        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Address</td>
        <td>@item.Deleted</td>
        <td>@item.Created</td>
        <td>@item.CreatedBy</td>
        <td>@item.Modified</td>
        <td>@item.ModifiedBy</td>

        <th>@Html.ActionLink("Edit Button", "Edit",  new { id = @item.Id }, null) & </th>
        <th>@Html.ActionLink("Delete", "Delete", new { id = @item.Id }, null) </th>
      
        </tr>

    }
</table>

<div class="clear"></div>

        <div>
                 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount
             </div>

    @*<div class="pager" style="display:inline;">*@
<div class="pagedList">
        @Html.PagedListPager(Model, page =>Url.Action("Index", new { page}))

      </div>