﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="~/Design/Ul_Style.css" rel="stylesheet" />


<h2>Main Navigation</h2>
<ul>
    <li><a href="@Url.Content("~")">Home</a></li>
    <li><a href="@Url.Content("/MCustomer/Index/")">Customer</a></li>
    <li>@Html.ActionLink("Admin", "Index", "Admin/Home")</li>
     <li><a href="@Url.Content("/MUser/Index/")">AllUser</a></li>
</ul>