﻿@model MvcAppCRM.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
 
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.FirstName)</td>
            <td>@Html.TextBoxFor(a => a.FirstName)</td>
            <td>@Html.ValidationMessageFor(a => a.FirstName)</td>
        </tr>
      

        <tr>
         
            <td>
                <input type="submit" value="Login" />
            </td>
           
        </tr>
    </table>
}