﻿@model MvcAppCRM.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<script src="~/Content/bk/jquery.js"></script>
<script src="~/Content/bk/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>


<link href="~/Scripts/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />

@using (Html.BeginForm("Create","MUser",FormMethod.Post))
{


        <table>

            <tr>
                <td>@Html.Label("FirstName")</td>
                <td>@Html.TextBoxFor(m=>m.FirstName)</td>
            </tr>

             <tr>
                <td>@Html.Label("LastName")</td>
                <td>@Html.TextBoxFor(m=>m.LastName)</td>
            </tr>

             <tr>
                <td>@Html.Label("JobTitle")</td>
                <td>@Html.TextBoxFor(m=>m.JobTitle)</td>
            </tr>

             


                
            <label for="StartDate">Start  Date:</label>
   
                 @Html.TextBoxFor(m=>m.StartDate)
                

        


         
                
                
            <label for="EndDate">End Date :</label>
                
              @Html.TextBoxFor(m=>m.EndDate)







          

             <tr>
                <td>@Html.Label("Address")</td>
                <td>@Html.TextBoxFor(m=>m.Address)</td>
            </tr>

             <tr>
                <td>@Html.Label("Deleted")</td>
                <td>@Html.TextBoxFor(m=>m.Deleted)</td>
            </tr>

            <tr>
                <td>@Html.Label("Created")</td>
                <td>@Html.TextBoxFor(m=>m.Created)</td>
            </tr>
            <tr>
                <td>@Html.Label("CreatedBy")</td>
                <td>@Html.TextBoxFor(m=>m.CreatedBy)</td>
            </tr>
            
             <tr>
                <td>@Html.Label("Modified")</td>
                <td>@Html.TextBoxFor(m=>m.Modified)</td>
            </tr>

            <tr>
                <td>@Html.Label("ModifiedBy")</td>
                <td>@Html.TextBoxFor(m=>m.ModifiedBy)</td>
            </tr>

            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>

        </table>




}


<script language="javascript">
    $(document).ready(function() {
    $('#StartDate').datepicker();
    $('#EndDate').datepicker();
    });
</script>