﻿@model IEnumerable<MvcAppCRM.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>@Html.ActionLink("Add New User","Create")</p>

<table>

    <tr>

        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>JobTitle</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Adress</th>
        <th>Deleted</th>
        <th>Created</th>
        <th>CreatedBy</th>
        <th>Modified</th>
        <th>ModifiedBy</th>


    </tr>


    @foreach (var item in Model)
    { 
    
        <tr>

            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.JobTitle</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.Address</td>
            <td>@item.Deleted</td>
            <td>@item.Created</td>
            <td>@item.CreatedBy</td>
            <td>@item.Modified</td>
            <td>@item.ModifiedBy</td>
            

        </tr>
    
    
    }





</table>