﻿body {
}
 ul {     
     
     list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
 
}

li {

float:left;

}
li a {
        
    display:inline-block;
   
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
        
    
    }

    li a:hover {
    
    background-color:#d42626;
    }